<% if logged_in? %>
    <%= "You are currently logged in as: #{current_user.first_name} #{current_user.last_name} " %>
    <%= link_to "Log out", logout_path, method: :delete %>
<% else %>
    <%= link_to "Log in", login_path %>
    <%= link_to "Sign up", signup_path %>
<% end %>

<h1>Users</h1>
<ul>
        <% @users.each do |user| %>
            <li> <%= user.first_name %> <%= user.last_name %> </li>
        <% end %>
</ul>
